{{ partial "head.html" . }}
<body class="no-sidebar">
{{ partial "banner.html" . }}{{ partial "navigation.html" . }}
    <div id="main">
        <div id="content">
            <div>
                <article class="hentry" role="article">
                    <header>
                        <h1 class="entry-title">{{ .Title }}</h1>
                    </header>
                    <div class="entry-content">
                        {{ .Content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
{{ partial "foot.html" . }}
