<div>
<article class="hentry" role="article">
	<header>
		<h1 class="entry-title">$title$</h1>
		<p class="meta"><time pubdate data-updated="true">$date$</time></p>
	</header>
	<div class="entry-content">
	$body$
	</div>
	<footer>
	<p class="meta">
		<span class="byline author vcard">Posted by <span class="fn">$author$</span></span>
                <time datetime="$published$" pubdate data-updated="true">$date$</time>
                <span class="categories">$prettycats$</span>
	</p>
        <div class="sharing">
        $posttwittersharing$
        $postgoogleplusone$
        $postfacebooklike$
        </div>
<p>
$neighbours$
</p>
	</footer>
</article>
</div>
