{{ partial "head.html" . }}
<body class="no-sidebar">
{{ partial "banner.html" . }}{{ partial "navigation.html" . }}
    <div id="main">
        <div id="content">
            <div>
                <article role="article">
                    {{ $data := .Data }}
                    <header>
                        <h1 class="entry-title">{{ title $data.Singular }}: {{ .Title }}</h1>
                    </header>
                    <div id="blog-archives">
                        {{ range .Data.Pages.GroupByDate "2006" }}
                        <h2>{{ .Key }}</h2>
                        {{ range .Pages }}
                        <article>
                            <h1 class="entry-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                            <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}" pubdate data-updated="true">{{ .Date.Format "Jan 2" }}</time>
                            <footer>
                                <span class="categories">posted in {{ range .Params.categories }} <a href="/{{ $data.Plural }}/{{ . | urlize }}">{{ . }}</a>{{ end }}</span>
                            </footer>
                        </article>
                        {{ end }}
                        {{ end }}
                    </div>
                </article>
            </div>
        </div>
    </div>
{{ partial "foot.html" . }}
