<div>
<article class="hentry" role="article">
	<header>
		<h1 class="entry-title">$title$</h1>
		<p class="meta"><time pubdate data-updated="true">$date$</time></p>
	</header>
	<div class="entry-content">
	$body$
	</div>
	<footer>
	<p class="meta">
		<span class="byline author vcard">Posted by <span class="fn">$author$</span></span>
                <time datetime="$published$" pubdate data-updated="true">$date$</time>
                <span class="categories">$prettycats$</span>
	</p>
        <div class="sharing">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="$host$$url$" data-via="" data-counturl="$host$$url$" >Tweet</a>
        </div>
<p>
$neighbours$
</p>
	</footer>
</article>
<section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
</section>
</div>
