    <nav role="navigation">
        <ul class="main-navigation">
            <li><a href="/about/" title="About">About</a></li>
            <li><a href="https://github.com/Claymore" title="GitHub">GitHub</a></li>
            <li><a href="/archive/" title="Archive">Archive</a></li>
        </ul>
        <form action="http://google.com/search" method="get">
            <fieldset role="search">
                <input type="hidden" name="q" value="site:bobyakov.org" />
                <input class="search" type="text" name="q" results="0" placeholder="Search"/>
            </fieldset>
        </form>
    </nav>
